@import "mocha.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: SpaceMono Nerd Font, sans;
  font-size: 13px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}
window#waybar.hidden {
  opacity: 0.5;
}

#workspaces button,
#clock,
#language,
#cpu,
#disk,
#memory,
#network,
#wireplumber,
#custom-microphone,
#custom-pacman,
#backlight,
#battery,
#custom-power {
  border-radius: 8px;
  margin: 5px 3px;
  padding: 6px 12px;
  background-color: @background;
  color: @foreground;
}

#custom-logo {
  padding: 0 7px;
  margin: 0 20px 0 15px;
  font-size: 15px;
  color: @accent;
  background-color: transparent;
}

#workspaces {
  background-color: transparent;
}
#workspaces button {
  all: initial;
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: @background;
  color: @foreground;
  transition: padding 0.2s ease-out;

}
#workspaces button.active {
  color: @background;
  background-color: @accent;
  padding: 6px 30px;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @accent;
  background-color: @background-hover;
}
#battery.warning,
#battery.critical,
#battery.urgent,
#workspaces button.urgent {
  background-color: @urgent;
  color: @background;
}
#battery.charging {
  background-color: @accent;
  color: @background;
}

#wireplumber {
  padding-right: 18px;
}
#wireplumber.muted,
#custom-microphone.muted {
    background-color: @event;
    color: @accent;
}
#custom-microphone {
    padding: 0 10px;
}
#custom-microphone.error {
    background-color: @error;
    color: @background;
}

#network {
  padding-right: 17px;
}

#custom-power {
  padding: 0 20px 0 25px;
  margin-right: 30px;
}

menu {
	background-color: #333446;
  border-radius: 15px;
  padding: 20px;
}
menuitem {
	color: #eeeeee;
  border-radius: 15px;
  margin: 2px;
  padding: 10px;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  color: @background;
  background-color: @accent;
}
tooltip label {
  padding: 5px;
}
