configuration {
    modes: [ combi ];
    combi-modes: [ drun ];
    font: "0xProto Nerd Font 10";
    show-icons: true;
    drun {
        display-name: "";
    }
    location: 0;
    yoffset: 0;
    xoffset: 0;
}

@theme "theme"
