window {
margin: 0px;
background-color: #2c2c2c;
border: none;
}

#input {
margin: 5px;
border: none;
color: #eeeeee;
background-color: #4c4c4c;
}

#inner-box {
margin: 5px;
border: none;
background-color: #trasparent;
}

#outer-box {
margin: 5px;
border: none;
background-color: #trasparent;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #eeeeee;
}

#entry:selected {
background-color: #trasparent;
border: 2px solid #eeeeee;
}
